* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#level-list {
    margin: auto;
}

.list-tile {
    width: 20vh;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    text-align: center;
    background-color: coral;
    border: 3px solid black;
}

#game-set {
    margin: auto;
    position: relative;
}

#end-screen {
    margin: auto;
}

#character {
    font-size: 50vh;
}


td {
    border: 2px solid black;
    font-size: 2.5vh;
}

table {
    border-collapse: collapse;
}

.tile {
    background-color: sandybrown;
    height: 5vh;
    width: 5vh;
    text-align: center;
}

.corner-box {
    background-color: rgb(88, 50, 9);
    width: 15vh;
    height: 15vh;
}

.vertical-hint {
    background-color: chocolate;
    width: 5vh;
    height: 15vh;
    vertical-align: bottom;
    text-align: center;
}

.horizontal-hint {
    background-color: chocolate;
    width: 15vh;
    height: 5vh;
    text-align: end;
}

.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes ending-screen-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}