* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(219, 219, 219) 0%, rgb(255, 255, 255) 100%);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(204, 204, 204);
}

*::-webkit-scrollbar-thumb {
    background: black;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 5vh;
}

h2 {
    text-align: center;
    font-size: 3vh;
}

#main-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#level-list {
    margin: 10px auto;
    max-height: 70vh;
    padding: 5px 10px;
    overflow-y: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.list-tile {
    width: 20vh;
    display: inline-block;
    text-align: center;
    background: linear-gradient(90deg, rgb(143, 143, 143) 0%, rgb(216, 216, 216) 25%, rgb(216, 216, 216) 75%, rgb(143, 143, 143) 100%);
    border-radius: 12px;
    border: 3px solid black;
    margin: 10px;
    font-size: 4vh;
    padding: 10px;
}

#game-set {
    margin: auto;
    position: relative;
}

#end-screen {
    margin: auto;
}

#character {
    font-size: 50vh;
}

#defeat {
    font-size: 15vw;
}


td {
    border: 2px solid black;
    font-size: 2.5vh;
}

table {
    border-collapse: collapse;
}

.tile {
    background-color: white;
    height: 5vh;
    width: 5vh;
    text-align: center;
}

.corner-box {
    background-color: white;
    width: 15vh;
    height: 15vh;
}

.vertical-hint {
    background-color: rgb(175, 175, 175);
    width: 5vh;
    height: 15vh;
    vertical-align: bottom;
    text-align: center;
    color: black;
}

.horizontal-hint {
    background-color: rgb(175, 175, 175);
    width: 15vh;
    height: 5vh;
    text-align: end;
    color: black;
    padding-right: 5px;
}

.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: -10%;
}

@keyframes fading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}